body{
  font-family: Roboto, sans-serif;
}
.navbar{
  height: 24px !important;
  min-height: 14px !important;
  border-radius: 25px !important;
  box-shadow: 3px 5px 5px #888888;
}
.navbar-brand{
  height: 24px !important;
  font-size: 16px !important;
  padding-top: 2px !important;
}
.navbar-toggle{
  height: 24px !important;
}
.dropdown-toggle{
  padding-top: 2px !important;
}
